name: "ruff and mypy"
on:
  pull_request:
  push:
    branches:
      - main
    
jobs:
  format:
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.12]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/setup
      - name: Check ruff
        run: uv run ruff check .
      - name: Check mypy
        run: uv run mypy . --check-untyped-defs --disallow-untyped-defs 
