name: "pre-commit"
on: 
  pull_request:
  push:
    branches:
      - main

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup
      - name: Install pre-commit
        run: uv pip install pre-commit
      - name: Run pre-commit
        run: |
          source .venv/bin/activate
          pre-commit run --all-files