name: "pytest"
on:
  pull_request:
  push:
    branches:
      - main
    
jobs:
  pytest:
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.12]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/setup
      - name: Run tests
        run: uv run pytest